            <footer class="footer text-center text-sm-left">
                &copy; 2020 Privpay

            </footer><!--end footer-->
        </div>
    </div>

    <!-- jQuery  -->
    <script src="/assetsdash/js/jquery.min.js"></script>
    <script src="/assetsdash/js/bootstrap.bundle.min.js"></script>
    <script src="/assetsdash/js/metisMenu.min.js"></script>
    <script src="/assetsdash/js/waves.min.js"></script>
    <script src="/assetsdash/js/jquery.slimscroll.min.js"></script>

    <script src="/assetsdash/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="/assetsdash/plugins/apexcharts/irregular-data-series.js"></script>

    <!--Chartist Chart-->
    <script src="/assetsdash/plugins/chartist/js/chartist.min.js"></script>
    <script src="/assetsdash/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>
    <script src="/assetsdash/pages/jquery.crypto-dashboard.init.js"></script>

    <!-- App js -->
    <script src="/assetsdash/js/app.js"></script>
</div>
</body>
</html>