<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Privpay - Store.Buy.Sell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- App favicon -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/seunsanyaa/image/upload/v1603872788/FAVICON_ef44iv.png">

    <!-- DataTables -->
    <link href="/assetsdash/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/assetsdash/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="/assetsdash/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="/assetsdash/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assetsdash/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/assetsdash/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/assetsdash/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/assetsdash/css/responsiveness.css" rel="stylesheet" type="text/css" />
</head>
<body>