<%- include('../layouts/head'); %>
<div class="preloader" id="preloader">
    <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
  </div>
  <!-- Header Area-->

  <!-- Welcome Area-->
  <section class="welcome-area" id="home">
      <!-- Header Area-->
      <!-- Error Area-->
      <div class="saasbox-error-area section-padding-0-120">
        <div class="container phone-form">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-10 col-md-9 col-lg-7">
            <img style="width: 400px;" class="mb-5" src="https://res.cloudinary.com/dudhmrdin/image/upload/v1608227404/hero-7_gieb5r.png" alt="">
              <h5 style="color: whitesmoke">Oops! Page not found</h5>
              <p>We couldn't find any results for your search. Try again.</p><a class="btn mt-4" style="background: #fff;" href="/">Back Home</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="border-top"></div>
      </div>
</section>

<%- include('../layouts/footer2'); %>