<%- include('../layouts/head'); %>
<div class="preloader" id="preloader">
    <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
  </div>
  <!-- Header Area-->

  <!-- Welcome Area-->
  <section class="welcome-area" id="home">
    <div class="container h-100">
        <div class="err-img" style="margin-top: 50px;">
            <img style="margin: 0 auto; display: block; width: 400px;" src="https://res.cloudinary.com/dudhmrdin/image/upload/v1608217003/404_xgl6qy.png" alt="">
        </div>
        <div style="margin-top: 30px; z-index: 9999;">
            <p style="text-align: center; font-weight: bold; font-size: 25px; color: #fff;">PAGE NOT FOUND</p>
            <p style="text-align: center; font-weight: bold; font-size: 16px; color: #fff;">Back To <a href="/" style="color: #fff; border-bottom: 1px solid #fff;">Home</a></p>
        </div>
    </div>
</section>

<%- include('../layouts/footer2'); %>