<%- include('../layouts/head'); %>

  <div class="preloader" id="preloader">
    <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
  </div>
  <!-- Header Area-->
  <header class="header-area">
    <div class="container">
      <div class="classy-nav-container breakpoint-off">
        <nav class="classy-navbar justify-content-between" id="saasboxNav">
          <!-- Logo--><a class="nav-brand mr-5" href="/"><img src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603872788/PRIVPAY_dsv2bk.png" alt="" width="220px" height="300px"></a>
          <!-- Navbar Toggler-->
          <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span><span></span></span></div>
          <!-- Menu-->
          <div class="classy-menu">
            <!-- close btn-->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start-->
            <div class="classynav">
              <ul id="corenav">

                <li class="sign-out"><a class="" href="#about">About</a></li>
              </ul>

              <ul id="corenav">

                <li class="sign-out"><a class="" href="/risk">Risk Disclosure</a></li>
              </ul>
              <ul id="corenav">

                <li class="sign-out"><a class="" href="#team">Team</a></li>
              </ul>
              <ul id="corenav">

                <li class="sign-out"><a class="" href="/signup">Sign Up</a></li>
              </ul>
              <!-- Login Button-->
              <div class="login-btn-area sign-out reset-m ml-4 mt-4 mt-lg-0" ><a class="btn ogin saasbox-btn btn-sm" href="/login">LOGIN</a></div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- Welcome Area-->
  <section class="welcome-area spacing" id="home">
    <!-- Background Shape-->
    <div class="background-shape">
      <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms"></div>
      <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms"></div>
      <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms"></div>
      <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms"></div>
    </div>
    <!-- Background Animation-->
    <div class="background-animation">
      <div class="star-ani"></div>
      <div class="cloud-ani"></div>
      <div class="triangle-ani"></div>
      <div class="circle-ani"></div>
      <div class="box-ani"></div>
    </div>
    <div class="container h-100 hei-auto">
      <div class="row h-100 align-items-center justify-content-between">
        <!-- Welcome Content-->

        <div class="col-12 col-md-6 col-lg-5">
          <div class="welcome-content">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms" style="font-family:'lexa' ; size: 10px">We Buy Fast And Pay Faster</h2>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">A digital exchange and online cryptocurrency wallet provider <img src="https://img.icons8.com/emoji/48/000000/money-with-wings-emoji.png"/>.




            </p><a class="btn btn-outline-light btn-lg white-btn mt-3 wow fadeInUp" style="padding-bottom: 10px; padding-top: 10px; padding-right: 1rem; padding-left: 1rem" href="/signup" target="_blank" data-wow-duration="1000ms" data-wow-delay="400ms">Get Started</a>
          </div>
        </div>
        <!-- Welcome Thumb-->
        <div class="col-10 col-md-6 full-width">
          <div class="welcome-thumb hero1 wow fadeInUp" data-wow-delay="300ms"><img class="start-img" src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603910915/Frame_2_lfxs7k.svg" alt="" width="900px" height="50rem"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Area-->
  <section class="about-area section-padding-120 spacing-2" id="about">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <!-- About Content Area-->
        <div class="col-12 col-lg-7 col-xl-6">
          <div class="about-content mb-100 mb-lg-0">
            <div class="row justify-content-between">
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="100ms">
                  <div class="icon"><i class="lni lni-reload"></i></div>
                  <h4 style="font-family:'eina'  ">Exchange</h4>
                  <p style="font-family:'eina'  ">Easily exchange crypto-to-cash and vice versa within your Privpay account. We offer the best rates in various currencies .</p>
                </div>
              </div>
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="300ms">
                  <div class="icon"><i class="lni lni-bitcoin"></i></div>
                  <h4 style="font-family:'eina'  ">Safe</h4>
                  <p style="font-family:'eina'  ">
                  Privpay is a 100% safe platform.</p>
                </div>
              </div>
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="500ms">
                  <div class="icon"><i class="lni lni-wallet"></i></div>
                  <h4 style="font-family:'eina'  ">Fast</h4>
                  <p style="font-family:'eina'  ">Privpay works with speed to satisfy customers.</p>
                </div>
              </div>
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="700ms">
                  <div class="icon"><i class="lni-money-protection"></i></div>
                  <h4 style="font-family:'eina'  ">Secure</h4>
                  <p style="font-family:'eina'  ">
                    Privpay is a secured platform
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- About Text Area-->
        <div class="col-12 col-lg-5">
          <div class="section-heading mb-0">
            <h6 class="wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">About Us</h6>
            <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms" style="font-family:'eina'  ">We create endless possibilities</h2>
            <p class="mb-3 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms" style="font-family:'eina'  ">Privpay had the radical idea that anyone — anywhere — should be able to easily and securely access Bitcoin. We see cryptocurrency as the future of money and a catalyst for creating an open financial system around the world.</p>
            <p class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms" style="font-family:'eina'  ">
              Today, more than 35 million people in over 100 countries trust Privpay to buy, sell, store, use and earn cryptocurrency.</p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Cool Facts Area-->
<!--  <section class="saasbox-cool-facts-area section-padding-120-70 none" id="team">-->
<!--    &lt;!&ndash; Circle Animation&ndash;&gt;-->
<!--    <div class="circle-animation">-->
<!--      <div class="circle1"></div>-->
<!--      <div class="circle2"></div>-->
<!--      <div class="circle3"></div>-->
<!--      <div class="circle4"></div>-->
<!--    </div>-->
<!--    <div class="container h-100">-->
<!--      <div class="row h-100 align-items-center">-->
<!--        <div class="col-12 col-md-6">-->
<!--          &lt;!&ndash; Content&ndash;&gt;-->
<!--          <div class="">-->
<!--            &lt;!&ndash; Single Hero Slide&ndash;&gt;-->
<!--            <div class="single-hero-slide mr-xxl-5">-->
<!--              <h2 data-animation="fadeInUp" data-delay="500ms" style="padding-bottom: 1em ; font-family:eina">Privpay Team</h2>-->
<!--              <p class="mb-4" data-animation="fadeInUp" data-delay="750ms">-->
<!--                PrivPay is comprised of talented, and hardworking individuals from around the world. We share the passion to code, create, and connect people to the future of finance.-->
<!--                Together, we work hard, brainstorm nonstop, and create endless possibilities.</p>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Hero Slide&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-12 col-md-6">-->
<!--          <div class="card hero-video-card">-->
<!--            &lt;!&ndash; Shape&ndash;&gt;-->

<!--            <div class="video-card-slides owl-carousel"><img src="https://www.coburgbanks.co.uk/wp-content/uploads/2017/09/teamwork-2.jpg" alt="">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </section>-->



<div class="container">
<div class="row">
  <div class="col-md-4">              <h2 data-animation="fadeInUp" data-delay="500ms" style="padding-bottom: 1em ; font-family:eina">Privpay Team</h2>

    <p class="mb-4" data-animation="fadeInUp" data-delay="750ms">
      PrivPay is comprised of talented, and hardworking individuals from around the world. We share the passion to code, create, and connect people to the future of finance.
      Together, we work hard, brainstorm nonstop, and create endless possibilities.</p>
  </div>
  </div>
  <div class="col-md-4 offset-md-4">            <img src="https://www.coburgbanks.co.uk/wp-content/uploads/2017/09/teamwork-2.jpg" alt="">

</div>

</div>



  <section class="client-feedback-area d-md-flex align-items-center justify-content-between section-padding-120 spacing-3">
    <!-- Client Shape-->
    <div class="client-shape none"><img src="img/core-img/testimonial.png" alt=""></div>
    <!-- Client Feedback Heading-->
    <div class="client-feedback-heading">
      <div class="section-heading mb-0 text-right te-xt">
        <h6>Testimonials</h6>
        <h2 class="mb-0" style="font-family:'eina'  ">Our Customers Feedback</h2>
      </div>
    </div>
    <!-- Client Feedback Content-->
    <div class="client-feedback-content">
      <div class="client-feedback-slides owl-carousel">
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>PrivPay is digital exchange and online cryptocurrency wallet provider is great for people new to Bitcoin.
                It makes buying and selling very similar to buying and selling stock through your brokerage account.</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Dan Wick</h6>
                <p>Banker</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>With Privpay, I can connect my bank account and easily transfer money in or out of my wallet, Which i can use to buy Bitcoin and other cryptocurrencies.</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Bobby Casey</h6>
                <p>Entrepreneur</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>Pay out in 7 different currencies and paid directly to my account and wonderful customer service -</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Sean Rose</h6>
                <p>Developer</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>Privpay they are fast and reliable everytime </p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Victor Sam</h6>
                <p>Trader  </p>
              </div>
              <!-- Single Feedback Slide-->
            </div>
          </div>
        </div>
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>You've saved our business! Thanks guys, keep up the good work! The best on the net!</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Jane Sandra</h6>
                <p>UX/UI Designer</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->

        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>I have been trading with them for the little over a year and they have been magnificent</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Cyril Joshua</h6>
                <p> Trader</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p> Very cool rates and nice customer service.</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6> Dave Gru</h6>
                <p> Network Engineer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Cookie Alert Area-->
  <div class="cookiealert mb-0" role="alert">
    <p>This site uses cookies. We use cookies to ensure you get the best experience on our website. For details, please check our <a href="/privacypolicy" target="_blank"> Privacy Policy.</a></p>
    <button class="btn btn-primary acceptcookies" type="button" aria-label="Close">I agree</button>
  </div>

<%- include('../layouts/footer'); %>