<%- include('../layouts/head'); %>

  <div class="preloader" id="preloader">
    <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
  </div>
  <!-- Header Area-->
  <header class="header-area">
    <div class="container">
      <div class="classy-nav-container breakpoint-off">
        <nav class="classy-navbar justify-content-between" id="saasboxNav">
          <!-- Logo--><a class="nav-brand mr-5" href="/"><img src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603872788/PRIVPAY_dsv2bk.png" alt="" width="220px" height="300px"></a>
          <!-- Navbar Toggler-->
          <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span><span></span></span></div>
          <!-- Menu-->
          <div class="classy-menu">
            <!-- close btn-->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start-->
            <div class="classynav">
              <ul id="corenav">

                <li class="sign-out"><a class="" href="#about">About</a></li>
              </ul>

              <ul id="corenav">

                <li class="sign-out"><a class="" href="/risk">Risk Disclosure</a></li>
              </ul>
              <ul id="corenav">

                <li class="sign-out"><a class="" href="#team">Team</a></li>
              </ul>
              <ul id="corenav">

                <li class="sign-out"><a class="" href="/signup">Sign Up</a></li>
              </ul>
              <!-- Login Button-->
              <div class="login-btn-area sign-out reset-m ml-4 mt-4 mt-lg-0" ><a class="btn ogin saasbox-btn btn-sm" href="/login">LOGIN</a></div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- Welcome Area-->
  <section class="welcome-area spacing" id="home">
    <!-- Background Shape-->
    <div class="background-shape">
      <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms"></div>
      <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms"></div>
      <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms"></div>
      <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms"></div>
    </div>
    <!-- Background Animation-->
    <div class="background-animation">
      <div class="star-ani"></div>
      <div class="cloud-ani"></div>
      <div class="triangle-ani"></div>
      <div class="circle-ani"></div>
      <div class="box-ani"></div>
    </div>
    <div class="container h-100 hei-auto">
      <div class="row h-100 align-items-center justify-content-between">
        <!-- Welcome Content-->

        <div class="col-12 col-md-6 col-lg-5">
          <div class="welcome-content">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms" style="font-family:'lexa' ; size: 10px">We Buy Fast And Pay Faster</h2>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">A digital exchange and online cryptocurrency wallet provider <img src="https://img.icons8.com/emoji/48/000000/money-with-wings-emoji.png"/>.




            </p><a class="btn btn-outline-light btn-lg white-btn mt-3 wow fadeInUp" style="padding-bottom: 10px; padding-top: 10px; padding-right: 1rem; padding-left: 1rem" href="/signup" target="_blank" data-wow-duration="1000ms" data-wow-delay="400ms">Get Started</a>
          </div>
        </div>
        <!-- Welcome Thumb-->
        <div class="col-10 col-md-6 full-width">
          <div class="welcome-thumb hero1 wow fadeInUp" data-wow-delay="300ms"><img class="start-img" src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603910915/Frame_2_lfxs7k.svg" alt="" width="900px" height="50rem"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Area-->
  <section class="about-area section-padding-120 spacing-2" id="about">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <!-- About Content Area-->
        <div class="col-12 col-lg-7 col-xl-6">
          <div class="about-content mb-100 mb-lg-0">
            <div class="row justify-content-between">
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="100ms">
                  <div class="icon"><i class="lni lni-reload"></i></div>
                  <h4 style="font-family:'eina'  ">Exchange</h4>
                  <p style="font-family:'eina'  ">Easily exchange crypto-to-cash and vice versa within your Privpay account. We offer the best rates in various currencies .</p>
                </div>
              </div>
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="300ms">
                  <div class="icon"><i class="lni lni-bitcoin"></i></div>
                  <h4 style="font-family:'eina'  ">Safe</h4>
                  <p style="font-family:'eina'  ">
                  Privpay is a 100% safe platform.</p>
                </div>
              </div>
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="500ms">
                  <div class="icon"><i class="lni lni-wallet"></i></div>
                  <h4 style="font-family:'eina'  ">Fast</h4>
                  <p style="font-family:'eina'  ">Privpay works with speed to satisfy customers.</p>
                </div>
              </div>
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="700ms">
                  <div class="icon"><i class="lni-money-protection"></i></div>
                  <h4 style="font-family:'eina'  ">Secure</h4>
                  <p style="font-family:'eina'  ">
                    Privpay is a secured platform
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- About Text Area-->
        <div class="col-12 col-lg-5">
          <div class="section-heading mb-0">
            <h6 class="wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">About Us</h6>
            <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms" style="font-family:'eina'  ">We create endless possibilities</h2>
            <p class="mb-3 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms" style="font-family:'eina'  ">Privpay had the radical idea that anyone — anywhere — should be able to easily and securely access Bitcoin. We see cryptocurrency as the future of money and a catalyst for creating an open financial system around the world.</p>
            <p class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms" style="font-family:'eina'  ">
              Today, more than 35 million people in over 100 countries trust Privpay to buy, sell, store, use and earn cryptocurrency.</p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Cool Facts Area-->
<!--  <section class="saasbox-cool-facts-area section-padding-120-70 none" id="team">-->
<!--    &lt;!&ndash; Circle Animation&ndash;&gt;-->
<!--    <div class="circle-animation">-->
<!--      <div class="circle1"></div>-->
<!--      <div class="circle2"></div>-->
<!--      <div class="circle3"></div>-->
<!--      <div class="circle4"></div>-->
<!--    </div>-->
<!--    <div class="container h-100">-->
<!--      <div class="row h-100 align-items-center">-->
<!--        <div class="col-12 col-md-6">-->
<!--          &lt;!&ndash; Content&ndash;&gt;-->
<!--          <div class="">-->
<!--            &lt;!&ndash; Single Hero Slide&ndash;&gt;-->
<!--            <div class="single-hero-slide mr-xxl-5">-->
<!--              <h2 data-animation="fadeInUp" data-delay="500ms" style="padding-bottom: 1em ; font-family:eina">Privpay Team</h2>-->
<!--              <p class="mb-4" data-animation="fadeInUp" data-delay="750ms">-->
<!--                PrivPay is comprised of talented, and hardworking individuals from around the world. We share the passion to code, create, and connect people to the future of finance.-->
<!--                Together, we work hard, brainstorm nonstop, and create endless possibilities.</p>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Hero Slide&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-12 col-md-6">-->
<!--          <div class="card hero-video-card">-->
<!--            &lt;!&ndash; Shape&ndash;&gt;-->

<!--            <div class="video-card-slides owl-carousel"><img src="https://www.coburgbanks.co.uk/wp-content/uploads/2017/09/teamwork-2.jpg" alt="">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </section>-->


<div class="container" style="margin-top:8rem; margin-bottom: 12rem;">
  <div class="main-grid-som">
    <div>
      <div class="together-row">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="40" height="40" rx="20" fill="#6F42C1"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2124 15.7624C22.2124 18.4062 20.0489 20.5248 17.3493 20.5248C14.6507 20.5248 12.4863 18.4062 12.4863 15.7624C12.4863 13.1187 14.6507 11 17.3493 11C20.0489 11 22.2124 13.1187 22.2124 15.7624ZM10 25.9174C10 23.47 13.3855 22.8577 17.3493 22.8577C21.3347 22.8577 24.6987 23.4911 24.6987 25.9404C24.6987 28.3877 21.3131 29 17.3493 29C13.364 29 10 28.3666 10 25.9174ZM24.1734 15.8487C24.1734 17.1951 23.7605 18.4513 23.0364 19.4948C22.9611 19.6021 23.0276 19.7468 23.1587 19.7698C23.3407 19.7995 23.5276 19.8177 23.7184 19.8216C25.6167 19.8704 27.3202 18.6736 27.7908 16.8712C28.4885 14.1968 26.4415 11.7954 23.8339 11.7954C23.5511 11.7954 23.2801 11.8242 23.0159 11.8769C22.9797 11.8845 22.9405 11.9018 22.921 11.9325C22.8955 11.9717 22.9141 12.0225 22.9396 12.0561C23.7233 13.1322 24.1734 14.4421 24.1734 15.8487ZM27.3173 21.7023C28.5932 21.9466 29.4317 22.444 29.7791 23.1694C30.0736 23.7635 30.0736 24.4534 29.7791 25.0475C29.2478 26.1705 27.5335 26.5318 26.8672 26.6247C26.7292 26.6439 26.6186 26.5289 26.6333 26.3928C26.9738 23.2805 24.2664 21.8048 23.5658 21.4656C23.5364 21.4493 23.5296 21.4263 23.5325 21.411C23.5345 21.4014 23.5472 21.3861 23.5697 21.3832C25.0854 21.3545 26.7155 21.5586 27.3173 21.7023Z" fill="white"/>
        </svg>
        <p>99999 Millon Users</p>
      </div>
      <hr class="to-ine"/>
      <p class="sub-to-text">Number of satisfied customers</p>
    </div>
    <div>
      <div class="together-row">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="40" height="40" rx="20" fill="#6F42C1"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5462 11.2779C15.7124 11.3979 15.9804 11.6734 15.9804 11.6734C17.0208 12.6486 18.5879 15.0739 19.0911 16.3044C19.1016 16.3044 19.4001 17.0361 19.4118 17.3841V17.4304C19.4118 17.9637 19.1133 18.4626 18.6335 18.7179C18.4357 18.8232 17.9546 18.9211 17.7224 18.9683C17.6456 18.984 17.596 18.9941 17.5931 18.997C16.9073 19.1016 15.8551 19.1704 14.7 19.1704C13.4876 19.1704 12.3898 19.1016 11.7145 18.9733C11.7028 18.9733 11.0861 18.8462 10.8801 18.7642C10.5828 18.6372 10.3312 18.4044 10.1709 18.1145C10.0562 17.8829 10 17.6383 10 17.3841C10.0105 17.1168 10.1826 16.618 10.2622 16.4208C10.7654 15.1203 12.412 12.6367 13.4185 11.6853C13.5231 11.5792 13.6421 11.4681 13.7248 11.3907C13.769 11.3494 13.8029 11.3178 13.8188 11.3017C14.0704 11.1045 14.3794 11 14.7117 11C15.0078 11 15.3051 11.0926 15.5462 11.2779ZM26.2286 18.1618C26.2286 18.6856 25.8108 19.1096 25.2947 19.1096C24.7786 19.1096 24.3608 18.6856 24.3608 18.1618L24.1033 13.583C24.1033 12.9154 24.637 12.375 25.2947 12.375C25.9524 12.375 26.4849 12.9154 26.4849 13.583L26.2286 18.1618ZM29.1199 21.2356C29.4172 21.3639 29.6688 21.5955 29.8291 21.8853C29.9438 22.1169 30 22.3616 30 22.617C29.9895 22.883 29.8174 23.3831 29.7367 23.5802C29.2346 24.8797 27.5868 27.3633 26.5815 28.3158C26.4787 28.4194 26.3619 28.5284 26.2793 28.6055L26.2792 28.6055C26.2331 28.6486 26.1976 28.6817 26.1812 28.6983C25.9284 28.8955 25.6206 29 25.2894 29C24.991 29 24.6937 28.9074 24.4538 28.7209C24.2876 28.6021 24.0196 28.3265 24.0196 28.3265C22.978 27.3526 21.4121 24.926 20.9089 23.6954C20.8972 23.6954 20.5999 22.965 20.5882 22.617V22.5706C20.5882 22.0361 20.8855 21.5373 21.3665 21.2819C21.5639 21.1777 22.0435 21.0796 22.2762 21.0319L22.2762 21.0319C22.3539 21.016 22.404 21.0058 22.4069 21.0028C23.0927 20.8983 24.1449 20.8294 25.3 20.8294C26.5124 20.8294 27.6102 20.8983 28.2855 21.0265C28.296 21.0265 28.9139 21.1536 29.1199 21.2356ZM14.7055 20.8905C14.1894 20.8905 13.7716 21.3146 13.7716 21.8383L13.5141 26.4171C13.5141 27.0846 14.0478 27.625 14.7055 27.625C15.3633 27.625 15.8958 27.0846 15.8958 26.4171L15.6395 21.8383C15.6395 21.3146 15.2216 20.8905 14.7055 20.8905Z" fill="white"/>
        </svg>
        <p>999,999,999</p>
      </div>
      <hr class="to-ine"/>
      <p class="sub-to-text">Accumulated Number of Trades</p>
    </div>
    <div>
      <div class="together-row">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="40" height="40" rx="20" fill="#6F42C1"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25.1799 12.41C25.1799 11.08 26.2599 10 27.5899 10C28.9199 10 29.9999 11.08 29.9999 12.41C29.9999 13.74 28.9199 14.82 27.5899 14.82C26.2599 14.82 25.1799 13.74 25.1799 12.41ZM21.3298 22.7593L24.2198 19.0303L24.1798 19.0503C24.3398 18.8303 24.3698 18.5503 24.2598 18.3003C24.1508 18.0503 23.9098 17.8803 23.6508 17.8603C23.3798 17.8303 23.1108 17.9503 22.9498 18.1703L20.5308 21.3003L17.7598 19.1203C17.5898 18.9903 17.3898 18.9393 17.1898 18.9603C16.9908 18.9903 16.8108 19.0993 16.6898 19.2593L13.7308 23.1103L13.6698 23.2003C13.4998 23.5193 13.5798 23.9293 13.8798 24.1503C14.0198 24.2403 14.1698 24.3003 14.3398 24.3003C14.5708 24.3103 14.7898 24.1893 14.9298 24.0003L17.4398 20.7693L20.2898 22.9103L20.3798 22.9693C20.6998 23.1393 21.0998 23.0603 21.3298 22.7593ZM23.4498 11.7803C23.4098 12.0303 23.3898 12.2803 23.3898 12.5303C23.3898 14.7803 25.2098 16.5993 27.4498 16.5993C27.6998 16.5993 27.9398 16.5703 28.1898 16.5303V24.5993C28.1898 27.9903 26.1898 30.0003 22.7898 30.0003H15.4008C11.9998 30.0003 9.99976 27.9903 9.99976 24.5993V17.2003C9.99976 13.8003 11.9998 11.7803 15.4008 11.7803H23.4498Z" fill="white"/>
        </svg>
        <p>999,999,999</p>
      </div>
      <hr class="to-ine"/>
      <p class="sub-to-text">Accumulated Transaction Volume (USD)</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class=" col-12 col-md-6">              
      <h2 data-animation="fadeInUp" data-delay="500ms" style="padding-bottom: 1em ; font-family:eina">Privpay Team</h2>
      <p class="mb-4" data-animation="fadeInUp" data-delay="750ms" style="font-family:'eina'  ">
        PrivPay is comprised of talented, and hardworking individuals from around the world. We share the passion to code, create, and connect people to the future of finance.
        Together, we work hard, brainstorm nonstop, and create endless possibilities.</p>
    </div>
    <div class="col-12 col-md-6" style="float: right" >            
      <img src="https://www.coburgbanks.co.uk/wp-content/uploads/2017/09/teamwork-2.jpg" alt="">
    </div>
  </div>
</div>



  <section class="client-feedback-area d-md-flex align-items-center justify-content-between section-padding-120 spacing-3">
    <!-- Client Shape-->
    <div class="client-shape none"><img src="img/core-img/testimonial.png" alt=""></div>
    <!-- Client Feedback Heading-->
    <div class="client-feedback-heading">
      <div class="section-heading mb-0 text-right te-xt">
        <h6>Testimonials</h6>
        <h2 class="mb-0" style="font-family:'eina'  ">Our Customers Feedback</h2>
      </div>
    </div>
    <!-- Client Feedback Content-->
    <div class="client-feedback-content">
      <div class="client-feedback-slides owl-carousel">
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>PrivPay is digital exchange and online cryptocurrency wallet provider is great for people new to Bitcoin.
                It makes buying and selling very similar to buying and selling stock through your brokerage account.</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Dan Wick</h6>
                <p>Banker</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>With Privpay, I can connect my bank account and easily transfer money in or out of my wallet, Which i can use to buy Bitcoin and other cryptocurrencies.</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Bobby Casey</h6>
                <p>Entrepreneur</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>Pay out in 7 different currencies and paid directly to my account and wonderful customer service -</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Sean Rose</h6>
                <p>Developer</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>Privpay they are fast and reliable everytime </p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Victor Sam</h6>
                <p>Trader  </p>
              </div>
              <!-- Single Feedback Slide-->
            </div>
          </div>
        </div>
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>You've saved our business! Thanks guys, keep up the good work! The best on the net!</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Jane Sandra</h6>
                <p>UX/UI Designer</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->

        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p>I have been trading with them for the little over a year and they have been magnificent</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6>Cyril Joshua</h6>
                <p> Trader</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Feedback Slide-->
        <div class="card feedback-card">
          <div class="card-body"><i class="lni-quotation"></i>
            <p> Very cool rates and nice customer service.</p>
            <div class="client-info d-flex align-items-center">

              <div class="client-name">
                <h6> Dave Gru</h6>
                <p> Network Engineer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container" style="margin-top: 100px; margin-bottom: 10rem;">
    <div class="main-grid-som">
      <div>
        <div class="together-row">
          <img style="margin: auto;" src="https://res.cloudinary.com/dudhmrdin/image/upload/v1615330930/headphones_zyu9xp.png" alt="">
        </div>
        <div style="margin: 0 30px; margin-top: 60px;">
          <p class="sub-to-txt">24/7 Support</p>
          <p class="sub-to-txt-2">Got a Problem? just get in touch, out support team is available 24/7</p>
        </div>
      </div>
      <div>
        <div class="together-row">
          <img style="margin: auto;" src="https://res.cloudinary.com/dudhmrdin/image/upload/v1615330935/like_go2nqt.png" alt="">
        </div>
        <div style="margin: 0 30px; margin-top: 60px;">
          <p class="sub-to-txt">Social Connect</p>
          <p class="sub-to-txt-2">We're present on social media: Twitter, Facebook, Instagram <span style="color: #6f42c1; font-weight: bold;">@Privpay</span></p>
        </div>
      </div>
      <div>
        <div class="together-row">
          <img style="margin: auto;" src="https://res.cloudinary.com/dudhmrdin/image/upload/v1615331007/chat_n6jagq.png" alt="">
        </div>
        <div style="margin: 0 30px; margin-top: 60px;">
          <p class="sub-to-txt">Instant Chat</p>
          <p class="sub-to-txt-2">Ask questions about Tradefada and Cryptocurrency and get answers</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Cookie Alert Area-->
  <div class="cookiealert mb-0" role="alert">
    <p>This site uses cookies. We use cookies to ensure you get the best experience on our website. For details, please check our <a href="/privacypolicy" target="_blank"> Privacy Policy.</a></p>
    <button class="btn btn-primary acceptcookies" type="button" aria-label="Close">I agree</button>
  </div>

<%- include('../layouts/footer'); %>