<%- include('../layouts/head'); %>

<div class="container h-100">
    <div class="">
        <img style="margin: 0 auto; display: block;" src="https://res.cloudinary.com/dudhmrdin/image/upload/v1606779219/undraw_page_not_found_su7k-removebg-preview_jcd3o3.png" alt="">
    </div>
    <div>
        <p style="text-align: center; font-weight: bold; font-size: 25px; color: #fff;">PAGE NOT FOUND</p>
        <p style="text-align: center; font-weight: bold; font-size: 20px; color: #fff;">Back To <a href="/" style="text-decoration: underline; color: #fff; font-style: italic;">Home</a></p>
    </div>
</div>

<%- include('../layouts/footer2'); %>


