<%- include('../layouts/head'); %>

  <div class="preloader" id="preloader">
    <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
  </div>
  <!-- Header Area-->
  <header class="header-area">
    <div class="container">
      <div class="classy-nav-container breakpoint-off">
        <nav class="classy-navbar justify-content-between" id="saasboxNav">
          <!-- Logo--><a class="nav-brand mr-5" href="/"><img src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603872788/PRIVPAY_dsv2bk.png" alt="" width="220px" height="300px"></a>
          <!-- Navbar Toggler-->
          <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span><span></span></span></div>
          <!-- Menu-->
          <div class="classy-menu">
            <!-- close btn-->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start-->
            <div class="classynav">
              <ul id="corenav">

                <li class="sign-out"><a class="" href="/">Home</a></li>
              </ul>

              <ul id="corenav">

                <li class="sign-out"><a class="" href="/risk">Risk Disclosure</a></li>
              </ul>
              <ul id="corenav">

                <li class="sign-out"><a class="" href="/signup">Sign Up</a></li>
              </ul>
              <!-- Login Button-->
              <div class="login-btn-area sign-out reset-m ml-4 mt-4 mt-lg-0" ><a class="btn ogin saasbox-btn btn-sm" href="/login">LOGIN</a></div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- Welcome Area-->
  <section class="spacing" style="background-color: #1f0757;" id="home">
    <div class="container hei-auto">
      <div class="row align-items-center justify-content-between">
        <!-- Welcome Content-->

        <div class="">
          <div class="welcome-content">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms" style="font-family:'lexa' ; size: 10px; margin-top: 100px; color: #fff;">Privacy Policy</h2>
            <p class="mb-1 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">
                    The objective of this Privacy Policy is to set out in an accountable and transparent way the process in which PrivPay collects and uses your Personal Information.
            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">
                    <br>
                    <span style="font-size: 30px;">1.	Collecting Personal Information</span>
                    <br>
                    If you wish to transact on and use the Site, PrivPay will obtain information about you, including Personal Information. The Personal Information most often collected and maintained in a customer file includes, but not limited to, name, an address for service, government identification, and banking information.
                    Personal Information collected is usually to:
                    <br>
                    •	Establish and maintain a responsible commercial relationship with you;
                    <br>
                    •	Understand your needs and your eligibility for products and services;
                    <br>
                    •	Provide information to you about developments and new products, including changes and enhancements to the Site;
                    <br>
                    •	Develop, enhance, and market products and services, and provide products and services to you;
                    <br>
                    •	Process billing and collection of any fees;
                    <br>
                    •	Conduct surveys and get feedback from you;
                    <br>
                    •	Provide you with news and other matters of general interest to you as a PrivPay customer; and,
                    <br>
                    •	To meet PrivPay’s legal and regulatory requirements.
                    <br>
            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">

                    <span style="font-size: 30px;">2.	Using Personal Information</span>
                    <br>
                    PrivPay is committed to protecting your privacy. Internally, only employees with a business need to know Personal Information, or whose duties reasonably require access to it, are granted access to customers’ Personal Information. The Site’s systems and data are reviewed continuously to ensure that you are getting the best possible service and that leading security features are in place.
                    We must reserve the right to retain and share specific Personal Information to meet our regulatory requirements and further to our contractual agreements with partners and third parties.
                    PrivPay reserves the right to block access for any user accessing the Site via a proxy service intending to conceal originating identity, and this includes access via the Tor anonymity network.
                    Personal Information and other data may get exported outside of the jurisdiction in which you reside. Your Personal Information may be processed and stored in a foreign country or countries. Under those circumstances, the governments, courts, law enforcement, or regulatory agencies of that country or those countries may be able to obtain access to your Personal Information through foreign laws. You need to be aware that the privacy standards of those countries may be lower than those of the jurisdiction in which you reside.

                    <br>
            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">
                    <span style="font-size: 30px;">3.	Protecting Your Personal Information</span>
                    <br>
                    This Privacy Policy and the use of your Personal Information only applies to the information you provide. Please note that if you disclose Personal Information or personally sensitive data using the Internet, such as through chat rooms, communities, bulletin boards, or other public online forums, this information may be collected and used by other persons or companies over which PrivPay has no control. It is your responsibility to review the privacy statements, policies, terms, and conditions of any person or company to whom you choose to link or with whom you wish to contract. PrivPay is not responsible for the privacy statements, policies, terms, conditions, or other content of any website not owned or managed by PrivPay.
                    PrivPay does its best to protect and safeguard Personal Information, but there are protective measures you should take, as well. Please do not share your Personal Information with others unless you understand the purpose of their request for it and you know with whom you are dealing. Do not keep sensitive Personal Information in your e-mail inbox or on Webmail. If you are asked to assign passwords to connect you to your Personal Information, you should use a secure password and always use two-factor authentication (2FA), where available. It would be best if you changed your password regularly.Privacy Policy
                    . The objective of this Privacy Policy is to set out in an accountable and transparent way the process in which PrivPay collects and uses your Personal Information.
            </p>
          </div>
        </div>
    </div>
  </section>

<%- include('../layouts/footer3'); %>