<%- include('../layouts/head'); %>

  <div class="preloader" id="preloader">
    <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
  </div>
  <!-- Header Area-->
  <header class="header-area">
    <div class="container">
      <div class="classy-nav-container breakpoint-off">
        <nav class="classy-navbar justify-content-between" id="saasboxNav">
          <!-- Logo--><a class="nav-brand mr-5" href="/"><img src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603872788/PRIVPAY_dsv2bk.png" alt="" width="220px" height="300px"></a>
          <!-- Navbar Toggler-->
          <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span><span></span></span></div>
          <!-- Menu-->
          <div class="classy-menu">
            <!-- close btn-->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start-->
            <div class="classynav">
              <ul id="corenav">

                <li class="sign-out"><a class="" href="/">Home</a></li>
              </ul>
              <ul id="corenav">

                <li class="sign-out"><a class="" href="/privacypolicy">Privacy</a></li>
              </ul>
              <ul id="corenav">

                <li class="sign-out"><a class="" href="/risk">Risk Disclosure</a></li>
              </ul>
              <ul id="corenav">

                <li class="sign-out"><a class="" href="/signup">Sign Up</a></li>
              </ul>
              <!-- Login Button-->
              <div class="login-btn-area sign-out reset-m ml-4 mt-4 mt-lg-0" ><a class="btn ogin saasbox-btn btn-sm" href="/login">LOGIN</a></div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- Welcome Area-->
  <section class="spacing" style="background-color: #1f0757;" id="home">
    <div class="container hei-auto">
      <div class="row align-items-center justify-content-between">
        <!-- Welcome Content-->

        <div class="">
          <div class="welcome-content">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms" style="font-family:'lexa' ; size: 10px; margin-top: 100px; color: #fff;">Risk Disclosure</h2>
          
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">
                Dealing with cryptocurrencies, in general, entails specific risks. This risk disclosure statement cannot and does not disclose all risks and other aspects involved in engaging in financing or financed transactions in cryptocurrencies. Risks include, but are not limited to, the following:
                <br>
                <span style="font-size: 30px;">1.	Market Risk</span>
                <br>
                The market for cryptocurrencies is still new and uncertain. No-one should have funds invested in cryptocurrencies or speculate in cryptocurrencies that he or she is not prepared to lose entirely. Whether the market for one or more cryptocurrencies will move up or down, or whether a cryptocurrency will lose all or substantially all its value, is unknown and this applies to all users. Users should be cautious about holding cryptocurrencies.
            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">

              <span style="font-size: 30px;">2.	Liquidity Risk</span>
                <br>
                Markets for cryptocurrencies have varying degrees of liquidity. Some are quite liquid while others may be thinner. Thin markets can amplify volatility. There is never a guarantee that there will be an active market for one to buy and sell cryptocurrencies derived from them. PrivPay makes no representations or warranties about whether a cryptocurrency or fiat may remain traded on the Site at any point in the future, if at all. While PrivPay remains a bitcoin-based platform, any new cryptocurrency (in the future) is subject to delisting without notice or consent.
                    <br>
            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">

                
                <span style="font-size: 30px;">3.	Legal Risk</span>
                <br>
                The legal status of most cryptocurrencies may be uncertain, and this can mean that the legality of holding or transacting with them is not always clear. Whether and how a cryptocurrency constitute property, or assets, or rights of any kind may also seem unclear. Users are responsible for knowing and understanding how cryptocurrencies will become addressed, regulated, and taxed under applicable law.
            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">

                
                <span style="font-size: 30px;">4.	Transaction Risk</span>
                <br>
                In addition to liquidity risks, values in any cryptocurrency marketplace are volatile and can shift quickly. Users in any cryptocurrency market are at this moment warned that they should pay close attention to their positions, and how they may become impacted by sudden and adverse shifts in market prices and activities. PrivPay possesses absolutely no control over price volatility and therefore takes no responsibility in such instance.
            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">

                <span style="font-size: 30px;">5.	Risks Associated with Financing Activities</span>
                <br>
                When you finance a purchase or sale of cryptocurrency on a peer-to-peer basis, you run the risk of losing your provided financing. Similarly, when you accept funding to enter a transaction agreement, you also take the chance of not being able to repay that financing (e.g., if the market price of the cryptocurrency you purchased with the funding falls). Participants should know all the terms of any transaction they enter and how other market and risk factors can affect their financing obligations.

            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">

                <span style="font-size: 30px;">6.	Risks Associated with Third-Party Wallets</span>
                <br>
PrivPay does NOT store user funds and as such, does NOT control the user data, conduct, or offer support of(for) any wallet. As of present, PrivPay does NOT own or partner with any bitcoin wallet. Your usage of any preferred wallet is subject is the terms of use of the owner.
            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">

                <span style="font-size: 30px;">INTERNAL CONTROL</span>
                <br>
Formulate and implement internal controls and other procedures that will deter criminals from using its facilities for money laundering and terrorist financing and to ensure that its obligations under subsisting laws and Regulations are met
            </p>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" style="color: darkgray;font-family:'eina" data-wow-delay="200ms">
                <span style="font-size: 30px;">KNOW YOUR CUSTOMER</span>
                <br>
                Establishing and maintaining a risk-based approach to Customer Due Diligence (CDD), including customer identification, verification and KYC procedures. To ensure we meet these standards, our customers are required to provide certain personal details when opening a PRIVPAY account and also generate tokens, OTP and PIN for any withdrawal request. The nature, and extent, of what is required is guided by the customer’s deposit and withdrawal limits, account to be used and in some cases, the customer’s country of residence. In certain circumstances, PRIVPAY may perform enhanced due diligence procedures for customers presenting a higher risk, such as those transacting large volumes etc. Maintaining appropriate KYC records for the minimum prescribed periods;
                PRIVPAY shall ensure timely and accurate rendition of all AML/CFT returns as specified in the SEC AML/CFT Rules and Regulations as well as other relevant Regulations/Act/Guidelines/Circulars that may be issued from time to time by various government agencies. We shall exercise due diligence in identifying and reporting a suspicious transaction. Suspicious transactions shall include:
                •	  Transactions which are structured to avoid reporting and record keeping requirements.
                <br>
                •	  Altered or false identification or inconsistent information or any transaction involving criminal activity in PRIVPAY’s view.
                <br>
                •	  Entity that belongs to a person or organization considered as terrorist.
            </p>
          </div>
        </div>
    </div>
  </section>

<%- include('../layouts/footer'); %>