<%- include('../layouts/head'); %>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
        <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
      </div>
      <!-- Header Area-->
  
      <!-- Welcome Area-->
      <section class="welcome-area" id="home">
        <!-- Background Shape-->
        <div class="background-shape">
          <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms"></div>
        </div>
        <!-- Background Animation-->
        <div class="background-animation">
          <div class="star-ani"></div>
          <div class="cloud-ani"></div>
          <div class="triangle-ani"></div>
          <div class="circle-ani"></div>
          <div class="box-ani"></div>
        </div>
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-between">
            <!-- Welcome Content-->
            <div class="container">
              <div class="row align-items-center justify-content-center" style="padding-top: 10px">
                <div class="col-12 col-lg-4">
                    <div class="card-body justify-content-center align-items-center " align="center">
                        <a href="/">  <span style="align-self: center"> <img  style="  object-fit: contain;" src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603883739/PRIVPAY_udayh0.png" width="270px" height="400px" align="center" >
                 </span>  </a> </div>
                    <br>
  
                    <div class="card register-card bg-gray p-10 p-sm-3 mb-20">
                    <div class="card-body">
                      <div>
                      <svg style="margin: 40px auto; display: block;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="100" height="100" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><defs xmlns="http://www.w3.org/2000/svg"><linearGradient id="linear-gradient" x1="256" y1="496" x2="256" y2="16" gradientUnits="userSpaceOnUse"><stop stop-opacity="1" stop-color="#2196f3" offset="0.019305019305019305"/><stop stop-opacity="1" stop-color="#c471ed" offset="1"/><stop stop-opacity="1" stop-color="#f64f59" offset="1"/></linearGradient></defs><path xmlns="http://www.w3.org/2000/svg" d="M74.782,232a8,8,0,0,1-7.889-9.383A192.259,192.259,0,0,1,222.618,66.893a8,8,0,1,1,2.764,15.76A176.212,176.212,0,0,0,82.653,225.382,8,8,0,0,1,74.782,232Zm214.6,213.106A192.259,192.259,0,0,0,445.107,289.382a8,8,0,1,0-15.759-2.764,176.214,176.214,0,0,1-142.73,142.729,8,8,0,1,0,2.764,15.76ZM72,248a8,8,0,1,0,8,8A8,8,0,0,0,72,248ZM256,64a8,8,0,1,0,8,8A8,8,0,0,0,256,64ZM440,248a8,8,0,1,0,8,8A8,8,0,0,0,440,248ZM256,432a8,8,0,1,0,8,8A8,8,0,0,0,256,432Zm169.705-6.294A240,240,0,0,0,86.294,86.294,240,240,0,0,0,425.705,425.706Zm-11.313-328.1A224,224,0,0,1,97.608,414.392,224,224,0,0,1,414.392,97.608ZM200,280v56a8,8,0,0,1-16,0V280H152a8,8,0,0,1,0-16h32V248H152a8,8,0,0,1,0-16h32V176a8,8,0,0,1,14.247-5l48.8,61H312V176a8,8,0,0,1,16,0v56h32a8,8,0,0,1,0,16H328v16h32a8,8,0,0,1,0,16H328v56a8,8,0,0,1-14.247,5l-48.8-61Zm112,0H285.445L312,313.194Zm-52.155-32,12.8,16H312V248ZM200,232h26.555L200,198.806Zm0,32h52.155l-12.8-16H200Z" style="fill:url(#linear-gradient)" fill=""/></g></svg>
                      </div> 
                      <div style="text-align: center;">
                        <p align="center" style="font-family: eina; color: #1f0757;">Kindly send $ <%= dollar%>  to 5276121482 Private Pay, Rubies Microfinance Bank.</p>
                        <button class="btn btn-primary white-btn w-100" onclick="Tawk_API.toggle()" type="submit" style="font-family: eina; margin-top: 20px;">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/60188107a9a34e36b972c16a/1etfrg1ql';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
<%- include('../layouts/footer2'); %>