<%- include('../layouts/head'); %>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
        <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
      </div>
      <!-- Header Area-->
  
      <!-- Welcome Area-->
      <section class="welcome-area" id="home">
        <!-- Background Shape-->
        <div class="background-shape">
          <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms"></div>
        </div>
        <!-- Background Animation-->
        <div class="background-animation">
          <div class="star-ani"></div>
          <div class="cloud-ani"></div>
          <div class="triangle-ani"></div>
          <div class="circle-ani"></div>
          <div class="box-ani"></div>
        </div>
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-between auto-height">
            <!-- Welcome Content-->
            <div class="container phone-form">
              <div class="row align-items-center justify-content-center" style="padding-top: 10px">
                <div class="col-12 col-lg-4">
                    <div class="card-body justify-content-center align-items-center " align="center">
                        <a href="/">  <span style="align-self: center">
                                <img  style="  object-fit: contain;" src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603883739/PRIVPAY_udayh0.png" width="270px" height="400px" align="center" >
                 </span>  </a> </div>
                    <br>
  
                    <div class="card register-card bg-gray p-10 p-sm-3 mb-20">
                    <div class="card-body">
                      <div align="center">
                          <img  style="  object-fit: contain;" src="https://res.cloudinary.com/seunsanyaa/image/upload/v1612221046/transfer_dbtw50.svg" width="150px" height="200px" align="center" >
                      </div>
                      <div style="text-align: center;">
                        <p align="center" style="font-family: eina; color: #1f0757;">Kindly send $ <%= dollar%>  to 5276121482 Private Pay, Rubies Microfinance Bank.</p>
                        <button class="btn btn-primary white-btn w-100" onclick="Tawk_API.toggle()" type="submit" style="font-family: eina; margin-top: 20px;">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/60188107a9a34e36b972c16a/1etfrg1ql';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
<%- include('../layouts/footer2'); %>