<%- include('../layouts/head'); %>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
        <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
      </div>
      <!-- Header Area-->
  
      <!-- Welcome Area-->
      <section class="welcome-area" id="home">
        <!-- Background Shape-->
        <div class="background-shape">
          <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms"></div>
        </div>
        <!-- Background Animation-->
        <div class="background-animation">
          <div class="star-ani"></div>
          <div class="cloud-ani"></div>
          <div class="triangle-ani"></div>
          <div class="circle-ani"></div>
          <div class="box-ani"></div>
        </div>
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-between">
            <!-- Welcome Content-->
            <div class="container">
              <div class="row align-items-center justify-content-center" style="padding-top: 10px">
                <div class="col-12 col-lg-4">
                    <div class="card-body justify-content-center align-items-center " align="center">
                        <a href="/">  <span style="align-self: center"> <img  style="  object-fit: contain;" src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603883739/PRIVPAY_udayh0.png" width="270px" height="400px" align="center" >
                 </span>  </a> </div>
                    <br>
  
                    <div class="card register-card bg-gray p-10 p-sm-3 mb-20">
                    <div class="card-body">
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin: 40px auto; display: block;" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="100" height="100" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><linearGradient xmlns="http://www.w3.org/2000/svg" id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="256" x2="256" y1="512" y2="0"><stop stop-opacity="1" stop-color="#d18dff" offset="0.15057915057915058"/><stop stop-opacity="1" stop-color="#742be3" offset="0.8378378378378378"/><stop stop-opacity="1" stop-color="#742be3" offset="1"/></linearGradient><g xmlns="http://www.w3.org/2000/svg"><g><path d="m256 0c-140.959 0-256 115.049-256 256 0 140.959 115.049 256 256 256 140.959 0 256-115.049 256-256 0-140.959-115.049-256-256-256zm0 482c-124.617 0-226-101.383-226-226s101.383-226 226-226 226 101.383 226 226-101.383 226-226 226zm0-422c-107.653 0-196 88.367-196 196 0 107.653 88.368 196 196 196 107.653 0 196-88.367 196-196 0-107.653-88.368-196-196-196zm0 362c-91.533 0-166-74.467-166-166s74.467-166 166-166 166 74.467 166 166-74.467 166-166 166zm90-211c0-27.906-19.151-51.424-45-58.102v-16.898c0-8.284-6.716-15-15-15s-15 6.716-15 15v15h-30v-15c0-8.284-6.716-15-15-15s-15 6.716-15 15v15h-30c-8.284 0-15 6.716-15 15s6.716 15 15 15c8.271 0 15 6.729 15 15v120c0 8.271-6.729 15-15 15-8.284 0-15 6.716-15 15s6.716 15 15 15h30v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15h30v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-16.898c25.849-6.678 45-30.195 45-58.102 0-17.908-7.896-33.997-20.377-45 12.481-11.003 20.377-27.092 20.377-45zm-60 120h-62.58c1.665-4.695 2.58-9.742 2.58-15v-45h60c16.542 0 30 13.458 30 30s-13.458 30-30 30zm0-90h-60v-45c0-5.257-.906-10.307-2.57-15h62.57c16.542 0 30 13.458 30 30s-13.458 30-30 30z" fill="url(#SVGID_1_)" data-original="url(#SVGID_1_)" style=""/></g></g></g></svg>
                      </div> 
                      <div style="text-align: center;">
                        <p align="center" style="font-family: eina; color: #1f0757;">Kindly send ₿ <%= btc%>  to 13mf8h7GaXqyr59ZwoCJ4mB3DnjraJ88N5</p>
                        <button class="btn btn-primary white-btn w-100" type="submit" onclick="Tawk_API.toggle()" style="font-family: eina; margin-top: 20px;">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/60188107a9a34e36b972c16a/1etfs4uum';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
<%- include('../layouts/footer2'); %>