<%- include('../layouts/head'); %>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
        <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
      </div>
      <!-- Header Area-->
  
      <!-- Welcome Area-->
      <section class="welcome-area" id="home">
        <!-- Background Shape-->
        <div class="background-shape">
          <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms"></div>
          <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms"></div>
        </div>
        <!-- Background Animation-->
        <div class="background-animation">
          <div class="star-ani"></div>
          <div class="cloud-ani"></div>
          <div class="triangle-ani"></div>
          <div class="circle-ani"></div>
          <div class="box-ani"></div>
        </div>
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-between">
            <!-- Welcome Content-->
            <div class="container">
              <div class="row align-items-center justify-content-center" style="padding-top: 10px">
  
  
  
  
                <div class="col-12 col-lg-4">
                    <div class="card-body justify-content-center align-items-center " align="center">
                        <a href="/">  <span style="align-self: center"> <img  style="  object-fit: contain;" src="https://res.cloudinary.com/seunsanyaa/image/upload/v1603883739/PRIVPAY_udayh0.png" width="270px" height="400px" align="center" >
                 </span>  </a> </div>
                    <br>
  
                    <div class="card register-card bg-gray p-10 p-sm-3 mb-20">
                    <div class="card-body">
                      <h4 align="center" style="font-family: eina">Email Verified</h4>
                      <div>
                        <svg id="Layer_1" style="margin: 40px auto; display: block;" enable-background="new 0 0 511.375 511.375" height="1
                        00" viewBox="0 0 511.375 511.375" width="100" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m511.375 255.688-57.89-64.273 9.064-86.046-84.651-17.92-43.18-75.012-79.03 35.321-10.667 207.93 10.667 207.929 79.031 35.321 43.179-75.011 84.651-17.921-9.064-86.046z" fill="#0ed678"/><path d="m176.656 12.437-43.179 75.012-84.651 17.921 9.064 86.045-57.89 64.273 57.89 64.272-9.064 86.046 84.651 17.921 43.18 75.011 79.031-35.321v-415.859z" fill="#04eb84"/></g><g><path d="m362.878 199.702-22.381-19.977-84.809 95.016-10.667 23.613 10.667 21.439z" fill="#f7f0eb"/><path d="m166.56 233.095-21.212 21.213 89.185 89.186 21.155-23.701v-45.052l-22.393 25.088z" fill="#fffbf5"/></g></g></svg>
                      </div>
                      <div style="text-align: center;">
                        <p align="center" style="font-family: eina; color: #1f0757; font-weight: 500;">You've successfully verified your account.</p>
                          <button class="btn btn-primary white-btn w-100" type="submit" style="font-family: eina"><i class="lni-unlock mr-2"></i>Login</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<%- include('../layouts/footer2'); %>